
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --primary-color: 
    hsl(179, 62%, 43%);
    --primary-color-shade: 
    #49BEBD;
    --secondary-color: 
    hsl(71, 73%, 54%);
    --accent-color: 
    hsl(218, 22%, 67%);
    --tetiary-color: 
    #E6EFF5;
    --light-color: 
    white;
    --light-gray-trans: 
    #e4f9f9a4;
  
    --spacing-extra-large: 
    40px;
    --spacing-large: 
    30px;
    --spacing-medium: 
    20px;
    --spacing-small: 
    10px;
    --spacing-tiny: 
    5px;
  
    --font-size-large: 
    22px;
    --font-size-medium: 
    16px;
    --font-size-small: 
    15px;
    --font-size-tiny: 
    12px;
  
    --font-weight-bold: 
    600;
    --font-weight-medium: 
    400;
    --font-weight-light: 
    300;
  
    --shadow-1: 
    0px 1px 40px 0.5px rgba(203, 203, 203, 0.474);
    --shadow-2: 
    0px 6px 16px 0px rgba(0, 0, 0, 0.167);
  }
  
  body {
    font-family: karla;
    background-color: #E6EFF5;
    margin: 0;
  }
  
  .grid-container {
    display: grid;
    /* gap: 1.5rem; */
  
    
    padding-block: 10rem;
    max-width: 650px;
    /* width: min(60%, 70rem); */
    margin-inline: auto;
  }
  
  @media (max-width: 50em) {
    .button {
      padding: 12px 80px;
    }
  
    .community {
      background-color: var(--light-color);
      border-radius: 5px 5px 0px 0px;
      }
      
      .monthly-sub {
        background-color: var(--primary-color);
        border-radius: 0px 0px 0px 0px;
      }
      
      .why-us {
        background-color: var(--primary-color-shade);
        border-radius: 0px 0px 5px 5px;
      }
  
      .card {
        padding: 35px 25px;
      }
  
  }
  
  @media (min-width: 50em) {
    .grid-container {
      grid-template-columns: 1fr 1fr;
    }
  
    .grid-span-2 {
      grid-column: span 2;
    }
  
  .monthly-sub {
    grid-column: 1/2;
  }
  
  .why-us {
    grid-column: 2/3;
  }
  
  .button {
    padding: 12px 90px;
  }
  .community {
    background-color: var(--light-color);
    border-radius: 5px 5px 0px 0px;
    }
    
    .monthly-sub {
      background-color: var(--primary-color);
      border-radius: 0px 0px 0px 5px;
    }
    
    .why-us {
      background-color: var(--primary-color-shade);
      border-radius: 0px 0px 5px 0px;
    }
  
    .card {
      padding: 35px 40px;
    }
  }
  
  
  /* -----COMMUNITY----- */
  .community h1 {
  font-size: var(--font-size-large);
  color: var(--primary-color);
  margin-bottom: var(--spacing-medium);
  font-weight: var(--font-weight-bold);
  }
  
  .community h2 {
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
  color: var(--secondary-color);
  margin-bottom: var(--spacing-small);
  }
  
  .community p {
  font-size: var(--font-size-small);
  color: var(--accent-color);
  line-height: var(--spacing-large);
  }
  
  
  /* -----MONTHLY SUBSCRIPTION----- */
  .monthly-sub h2 {
    color: var(--light-color);
    margin-bottom: var(--spacing-medium);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
  }
  
  .monthly-sub p {
    color: var(--light-color);
    margin-bottom: var(--spacing-small);
    font-weight: var(--font-weight-light);
  }
  
      .price {
        display: flex;
        align-items: center;
        gap: var(--spacing-small)
      }
  
      .price p:nth-child(1) {
        color: var(--light-color);
        font-size: var(--font-size-large);
        font-weight: var(--font-weight-medium);
      }
     
      .price p:nth-child(2) {
        color: var(--light-gray-trans);
        font-weight: var(--font-weight-light);
      }
      
      .button {
        border: none;
        border-radius: var(--spacing-tiny);
        color: var(--light-color);
        background-color: var(--secondary-color);
        box-shadow: var(--shadow-2);
        font-size: var(--font-size-medium);
        font-weight: var(--font-weight-medium);
        margin-top: var(--spacing-medium);
        cursor: pointer;
      }

      .button:hover {
        background-color: var(--secondary-color);
        --secondary-color:  hsl(71, 86%, 39%);
      }
  
  
  /* -----WHY-US----- */
  .why-us h2 {
    color: var(--light-color);
    margin-bottom: var(--spacing-medium);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
  }
  
  ul li {
    font-size: var(--font-size-tiny);
    color: var(--light-gray-trans);
    list-style: none;
  }
  
  li {
    margin-bottom: var(--spacing-tiny);
  }